@page
@model phone_book.Pages.phoenBook.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>پاک کردن</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>personInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.personInfo.firstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.personInfo.firstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.personInfo.last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.personInfo.last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.personInfo.dateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.personInfo.dateCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.personInfo.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.personInfo.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.personInfo.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.personInfo.phoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.personInfo.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.personInfo.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.personInfo.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.personInfo.address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="personInfo.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
