@page
@model phone_book.Pages.phoenBook.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>دفترچه تلفن</h1>

<p>
    <a asp-page="Create">ایجاد فرد جدید</a>
</p>

<form asp-controller="Index" asp-action="Index" method="get">

    <p>
        شماره تلفن: <input type="text" name="Searching" />
        <input type="submit" value="فیلتر" />
    </p>
</form>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.personInfo[0].firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personInfo[0].last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personInfo[0].dateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personInfo[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personInfo[0].phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personInfo[0].city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personInfo[0].address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.personInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
